<h1>Scripts</h1>

<ul>
  <% @scripts.each do |script| %>
    <li>
      <p><b>Categoria:</b> <%= script.category.name %></p>
      <p><b>Contexto:</b> <%= script.context %></p>
      <p><b>Duração:</b> <%= script.duration %></p>
      <p><b>Entonação:</b> <%= script.mood %></p>
      <p><b>Status:</b> <%= script.status %></p>
      <%= link_to 'Ver Script', script_path(script) %>
    </li>
  <% end %>
</ul>

<%= link_to 'new script', new_script_path %>
