<div class="login-box">
  <h2>Novo Script</h2>
  <div class="user-box">
    <%= simple_form_for @script do |f| %>
      <div class="form-inputs">
        <%= f.input :category_id, collection: Category.pluck(:name, :id) %>
        <%= f.input :duration, collection: [30, 60, 120] %>
        <%= f.input :mood, collection: Script.moods.keys %>
        <%= f.input :target_audience, class: 'field-box' %>
        <%= f.input :description %>
      </div>
      <div class='btn-login script'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <%= f.button :submit, "Criar" %>
      </div>
    <% end %>
  </div>
</div>
