<div class="container">
  <p><b>Categoria:</b> <%= @script.category %></p>
  <p><b>Contexto:</b> <%= @script.context %></p>
  <p><b>Duração:</b> <%= @script.duration %></p>
  <p><b>Humor:</b> <%= @script.mood %></p>
  <p><b>Descrição:</b> <%= @script.description %></p>
  <p><b>Status:</b> <%= @script.status %></p>
</div>
