<section id="home" class="d-flex"><!-- inicio seção capa -->
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-12 capa">
        <h2 class="header-title">Crie vídeos altamente virais </br> para todas as suas redes sociais com 3 cliques!</h2>
        <p class="mb-4 mt-4 header-subtitle">Nossa IA foi treinada com mais de 10 mil vídeos virais em dezenas de nichos diferentes. </br> 
          Tudo que você precisa é de 3 cliques para criar o seu, para qualquer rede social…
        </p>
        <p class="mt-4 mb-4 header-subtitle">Mais de 29.384 criadores de conteúdo já usaram a </br> 
        Viral Hackers para criar mais de 2.384.993 milhões de scripts virais.
        </p>
        <%= link_to "Começar agora gratuitamente", new_user_registration_path, class: "btn btn-custom btn-branco mt-3" %>
      </div>
    </div>
  </div>
</section>
<section id="servicos" class="caixa"><!-- inicio section -->
  <div class="container"><!-- inicio container -->
    <div class="row"> <!-- primeiro grid -->
    <h2 class="text-center mt-4 mb-4"> Sobre a plataforma </h2>
      <div class="col-md-6">
        <div class="row albuns" ><!-- segundo grid -->
          <div class="col-md-6">
            <%= image_tag "img1.png", class: "img-fluid d-none d-md-block" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "img2.png", class: "img-fluid d-none d-md-block" %>
          </div>
        </div>
        <div class="row albuns"><!-- segundo grid -->
          <div class="col-md-6">
            <%= image_tag "img3.png", class: "img-fluid d-none d-md-block" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "img4.png", class: "img-fluid d-none d-md-block" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3> Fácil e Economia de Tempo </h3>
        <p>Em minutos, tenha conteúdo adaptado para múltiplas plataformas sem precisar criar do zero.
        </p>
        <h3>Baseado em Dados</h3>
        <p>Nossa IA analisa milhares de roteiros para gerar conteúdo com potencial viral.</p>
        <h3>Adaptação Inteligente</h3>
        <p>Converta vídeos curtos em formatos longos otimizados para plataformas como o YouTube.
        </p>
        <h3>Sem Necessidade de Experiência</h3>
        <p>Não é preciso ser um especialista em mídia social ou copywriting. Nossa ferramenta faz o trabalho pesado para você.</p>
      </div>
      <hr class="mt-4">
    </div><!-- /primeiro grid -->
  </div><!-- /container -->
</section><!--/fim section -->
<section id="conteudo" class="caixa"><!-- inicio section -->
  <div class="container">
    <h2 class="text-center mt-4 mb-4"> Para quem a Viral Hackers é perfeita </h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Influenciadores Digitais e Criadores de Conteúdo:</h5>
            <p class="card-text">Para aqueles que desejam expandir sua presença em múltiplas plataformas sem gastar muito tempo criando conteúdo do zero para cada uma delas.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Empresas de Pequeno e Médio Porte (PMEs):</h5>
            <p class="card-text">Empresas que querem estabelecer ou ampliar sua presença online, mas que talvez não tenham uma equipe dedicada de marketing para criar conteúdo adaptado para todas as redes sociais.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Agências de Marketing e Publicidade:</h5>
            <p class="card-text">Para oferecer mais valor aos seus clientes, adaptando conteúdos de forma rápida e eficaz para diferentes campanhas e plataformas.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Organizações sem fins lucrativos e Ativistas:</h5>
            <p class="card-text">Que buscam disseminar suas mensagens e campanhas em várias redes sociais para alcançar um público mais amplo.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">E-commerce e Lojas Online:</h5>
            <p class="card-text">Que desejam criar campanhas promocionais adaptadas para diferentes redes sociais, otimizando sua estratégia de marketing.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Startups e Empreendedores:</h5>
            <p class="card-text">Que precisam criar rapidamente campanhas de marketing adaptadas para apresentar e promover seus produtos ou serviços.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/fim section -->
<section id="servicos" class="caixa"><!-- inicio section -->
  <div class="container"><!-- inicio container -->
    <div class="row"> <!-- primeiro grid -->
      <h2 class="text-center mt-4 mb-4"> Quem usa uma vez, não larga mais!</h2>
        <div class="container mt-5 mb-5">
          <div class="row g-2">
            <div class="col-md-4">
              <div class="card p-3 text-center px-4">
                <div class="user-image"> 
                  <%= image_tag "arlindo.png", class: "rounded-circle", style: "width: 80px;" %>  
                  <%# <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">     %>
                </div>
                <div class="user-content">
                    
                    <h5 class="mb-0">Arlindo Armando</h5>
                    <span>CEO Agência Headline</span>
                    <p>"Eu tenho uma agência de marketing e preciso gerar conteúdo para 4 clientes de nichos completamente diferentes. A Vira Hackers me permite criar dezenas de vídeos altamente virais todos os meses em 100x menos tempo do que eu faria se não tivesse essa ferramenta a minha disposição. Recomendo para todos os meus amigos!"</p>
                    
                </div>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  
                </div>   
              </div>
            </div>
            
            <div class="col-md-4">   
              <div class="card p-3 text-center px-4">
                  <div class="user-image">   
                <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">
                      
                  </div>
                  
                  <div class="user-content">
                      
                      <h5 class="mb-0">Mark Smith</h5>
                      <span>Web Developer</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      
                  </div>
                  
                  <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      
                  </div>
                  
              </div>    
            </div>
            
            <div class="col-md-4">
              <div class="card p-3 text-center px-4">
                  <div class="user-image">        
                    <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">   
                  </div>
                  <div class="user-content">
                      
                      <h5 class="mb-0">Veera  Duncan</h5>
                      <span>Software Architect</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      
                  </div>
                  
                  <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      
                  </div>
                  
              </div>  
            </div>   
          </div>
        </div>
      <hr class="mt-4">
    </div><!-- /primeiro grid -->
  </div><!-- /container -->
</section><!--/fim section -->
<section id="servicos" class="caixa">
  <div class="container">
    <div class="row">
      <h2 class="text-center mt-4 mb-4">Perguntas frequentes</h2>
      <div class="col-md-6 mb-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                O que é a Viral Hackers?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Somos um criador e multiplicador de scripts para vídeos virais. Crie um script altamente viral com base na análise de mais de 10 mil vídeos virais, e depois multiplique este conteúdo para outros formatos.
                Por exemplo: crie um script viral para reels, e multiplique este script criando um vídeo para youtube. Tudo isso em 3 cliques!
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Como a Viral Hackers funciona?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Muito fácil! Crie sua conta, defina o tema e gere seu primeiro script viral. Depois, com mais um clique, transforme este script em vários outros para outras redes sociais.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Quanto custa?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                O Viral Hackers é gratuito para até 2 scripts e 2 multiplicações de conteúdo diárias. Depois custa somente R$97 mensais para uso ilimitado.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                A Viral Hackers serve para quais nichos?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Sim, qualquer nicho! Nós analisamos mais de 10 mil vídeos virais de todos os nichos e mercados imagináveis.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Tem tutorial para me ajudar a mexer na plataforma?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Sim. Assim que você acessar a plataforma, você terá acesso a diversos vídeos ensinando a usar, passo a passo. Mesmo assim, o uso é extremamente intuitivo e fácil.
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "logo.png", class: "img-fluid" , style: "width: 100px;" %>
        <p>Viral Hackers - Todos os direitos reservados, 2023</p>
      </div>
    </div>
  </div>
</footer>
