<section id="home" class="d-flex"><!-- inicio seção capa -->
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-12 capa">
        <h2 class="header-title">Crie vídeos altamente virais </br> para todas as suas redes sociais com 3 cliques!</h2>
        <p class="mb-4 mt-4 header-subtitle">Nossa IA foi treinada com mais de 10 mil vídeos virais em dezenas de nichos diferentes. </br> 
          Tudo que você precisa é de 3 cliques para criar o seu, para qualquer rede social…
        </p>
        <p class="mt-4 mb-4 header-subtitle">Mais de 29.384 criadores de conteúdo já usaram a </br> 
        Viral Hackers para criar mais de 2.384.993 milhões de scripts virais.
        </p>
        <%= link_to "Começar agora -> gratuitamente", new_user_registration_path, class: "btn btn-custom btn-branco mt-3" %>
      </div>
    </div>
  </div>
</section>
<section id="servicos" class="caixa"><!-- inicio section -->
  <div class="container"><!-- inicio container -->
    <div class="row"> <!-- primeiro grid -->
      <div class="col-md-6">
        <div class="row albuns" ><!-- segundo grid -->
          <div class="col-md-6">
            <%= image_tag "img1.png", class: "img-fluid d-none d-md-block" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "img2.png", class: "img-fluid d-none d-md-block" %>
          </div>
        </div>
        <div class="row albuns"><!-- segundo grid -->
          <div class="col-md-6">
            <%= image_tag "img3.png", class: "img-fluid d-none d-md-block" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "img4.png", class: "img-fluid d-none d-md-block" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2> Sobre a plataforma </h2>
        <h3> Fácil e Economia de Tempo </h3>
        <p>Em minutos, tenha conteúdo adaptado para múltiplas plataformas sem precisar criar do zero.
        </p>
        <h3>Baseado em Dados</h3>
        <p>Nossa IA analisa milhares de roteiros para gerar conteúdo com potencial viral.</p>
        <h3>Adaptação Inteligente</h3>
        <p>Converta vídeos curtos em formatos longos otimizados para plataformas como o YouTube.
        </p>
        <h3>Sem Necessidade de Experiência</h3>
        <p>Não é preciso ser um especialista em mídia social ou copywriting. Nossa ferramenta faz o trabalho pesado para você.</p>
      </div>
      <hr class="mt-4">
    </div><!-- /primeiro grid -->
  </div><!-- /container -->
</section><!--/fim section -->
<section id="conteudo" class="caixa"><!-- inicio section -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Influenciadores Digitais e Criadores de Conteúdo:</h5>
          <p class="card-text">Para aqueles que desejam expandir sua presença em múltiplas plataformas sem gastar muito tempo criando conteúdo do zero para cada uma delas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Empresas de Pequeno e Médio Porte (PMEs):</h5>
          <p class="card-text">Empresas que querem estabelecer ou ampliar sua presença online, mas que talvez não tenham uma equipe dedicada de marketing para criar conteúdo adaptado para todas as redes sociais.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Agências de Marketing e Publicidade:</h5>
          <p class="card-text">Para oferecer mais valor aos seus clientes, adaptando conteúdos de forma rápida e eficaz para diferentes campanhas e plataformas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Organizações sem fins lucrativos e Ativistas:</h5>
          <p class="card-text">Que buscam disseminar suas mensagens e campanhas em várias redes sociais para alcançar um público mais amplo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">E-commerce e Lojas Online:</h5>
          <p class="card-text">Que desejam criar campanhas promocionais adaptadas para diferentes redes sociais, otimizando sua estratégia de marketing.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Startups e Empreendedores:</h5>
          <p class="card-text">Que precisam criar rapidamente campanhas de marketing adaptadas para apresentar e promover seus produtos ou serviços.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!--/fim section -->
